.container-fluid {
	margin-top: 60px;
}
.select {
	width: 200px;
}
.center {
	text-align: center;
}
.fleft {
	float: left;
	margin-right: 10px;
}
#chart {
	text-align: center;
}
.table td, .table th {
	padding: .25rem;
}
.marbot {
	margin-bottom: 5px;
}